@import url('http://fonts.cdnfonts.com/css/lucida-console');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
}

/* HEADER -------------------------------- */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccc;
}

header img {
    height: 100px;
    border-radius: 50%;
}
/* ------------------------------- HEADER */


/* MAIN ---------------------------------- */
main {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form {
    background-color: #1111;
    display: flex;
    flex-direction: column;
    border: 1px solid #5555;
    width: 300px;
    padding: 20px;
    gap: 5px;
}

form span {
    align-self: center;
}

#console {
    background-color: #dddd;
    padding: 10px;
    border: .5px solid #cccc;
    width: 350px;
    height: 300px;
    max-height: 500px;
    font-family: 'Lucida Console';
    overflow: auto;
}

#console h3 {
    text-align: center;
}


/* FOOTER -------------------------------- */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #cccc;
}

footer img {
    height: 50px;
}
/* -------------------------------- FOOTER */